/* #region ForAll */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

 @media (min-width: 768px) {
  .container {
   width: 768px;
}
 }
@media (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
  
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0%;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  margin: 0%;
  padding-left: 0px;
}
button {
  cursor: pointer;
}
/* #endregion */
/* #region Header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.top-line {
  display: flex;
  align-items: center;
}
.web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  display: inline-block;
}
.studio {
  color: #2e2f42;
  position: relative;
  transition-property: color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav {
  display: flex;
  gap: 40px;
}
.nav-link-studio::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #404bbf;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.nav-link {
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav .nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  position: relative;
  color: #404bbf;
}

.nav .nav-link:hover,
.nav .nav-link:focus {
  color: #404bbf;
}
@media (max-width: 767px) {
  .nav {
    display: none;
  }
}
/* Adres */
.adres {
  font-style: normal;
  margin-left: auto;
}
@media (max-width: 767px) {
  .adres {
    display: none;
  }
}
@media (min-width: 1158px) {
  .adres-page {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    gap: 40px;
  }
}
@media (min-width: 768px) {
  .adres-link {
    color: #434455;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media (min-width: 1158px) {
  .adres-link {
    font-size: 16px;
    line-height: 1.5;
    display: inline-block;
  }
}
.adres .adres-link:hover,
.adres .adres-link:focus {
  color: #404bbf;
}
@media(min-width: 768px){
  .mobile-btn-open {
    display: none;
}
}
.mobile-btn-open {
  padding: 16px 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  margin-left: auto;
}
.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 100;
  visibility: hidden;
  pointer-events: none;
  opacity: 1;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: visibility, pacity, pointer-events;
}
.mobile-menu-container.is-open {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-wrapper {
  min-width: 320px;
  min-height: 640px;
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 40px 16px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-solid-menu-close {
  fill: #2e2f42;
}
.mobile-btn-close:hover,
.mobile-btn-close:focus {
  background-color: #404bbf;
  border: none;
}

.mobile-btn-close:hover .icon-solid-menu-close,
.mobile-btn-close:focus .icon-solid-menu-close {
  fill: #ffffff;
}
.mobile-menu-nav {
  margin-bottom: 168px;
}
.mobile-menu-link-lishka:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-grey);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-nav-link:hover,
.mobile-menu-nav-link:focus {
  color: #404bbf;
}
.mobile-menu-nav-link.mobile-menu-studio {
  color: #404bbf;
}
.mobile-menu-adres-page {
  margin-top: auto;
  margin-bottom: 48px;
}
.mobile-menu-adres-lishka:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-menu-adres-link-tel {
 font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #4D5AE5;
} 
.mobile-menu-adres-link-email {
font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-menu-list-svg {
  display: flex;
  justify-content: start;
  gap: 40px;
}
.mobile-menu-lishka-svg {
  width: 40px;
  height: 40px;
}
.mobile-menu-svg {
  fill: var(--color-cloud);
}
.mobile-menu-link-svg {
  width: 100%;
  height: 100%;
  background-color: #4D5AE5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-link-svg:focus {
  background-color: #404bbf;
}
.mobile-menu-link-svg {
    gap: calc((100% - 160px) / 4);
  }
/* #endregion */
/* #region First */
.first-section {
  background-color: #2e2f42;
  padding: 72px 0;
}
@media (min-width: 768px) {
  .first-section {
    padding: 112px 0;
  }
}

@media (min-width: 1158px) {
  .first-section {
    padding: 188px 0;
  }
}
.first-section {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url('../images/first-section/hero-mobile-1x.jpg');
}
@media (min-resolution: 192dpi) {
  .first-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url('../images/first-section/hero-mobile-2x.jpg');
  }
}
@media (min-width: 768px) {
  .first-section {
    width: 100%;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url('../images/first-section/hero-tablet-1x.jpg');
  }
}
  @media (min-resolution: 192dpi) {
    .first-section {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url('../images/first-section/hero-tablet-2x.jpg');
    }
  }
@media (min-width: 1158px) {
  .first-section {
    width: 100%;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url('../images/first-section/hero-desktop-1x.jpg');
  }
}
  @media (min-resolution: 192dpi) {
    .first-section {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url('../images/first-section/hero-desktop-2x.jpg');
    }
  }
.first-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-section-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.11;
  margin: 0 auto 72px;
}
@media (min-width: 768px) {
  .first-section-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px;
  }
}
@media (min-width: 1158px) {
  .first-section-title {
    margin: 0 auto 48px;
  }
}
.button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/* #endregion */
/* #region Second */
.second-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (max-width: 1157px) {
  .second-section {
    padding: 96px 0;
  }
}

@media (min-width: 1158px) {
  .second-section {
    padding: 120px 0;
  }
}
.second-section-name {
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: #2e2f42;
}
.second-page-descr {
  justify-content: space-between;
}
@media (max-width: 767px) {
  .second-page-descr {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
}

@media (min-width: 768px) {
  .second-page-descr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}

@media (min-width: 1158px) {
  .second-page-descr {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

@media (min-width: 768px) {
  .second-page-text {
    width: calc((100% - 24px) / 2);
  }
}

@media (min-width: 1158px) {
  .second-page-text {
    width: calc((100% - 72px) / 4);
  }
}
.second-page-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border: 1px solid rgba(142, 143, 153, 1);
  border-radius: 4px;
  background: rgba(244, 244, 253, 1);
  margin-bottom: 8px;
}
@media (max-width: 1157px) {
  .second-page-svg {
    display: none;
  }
}
.page-item-title {
 font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  .page-item-title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }
}

@media (min-width: 768px) and (max-width: 1157px) {
  .page-item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
}
.page-item-text {
 letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 767px) {
  .page-item-text {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}
@media (min-width: 768px) and (max-width: 1157px) {
  .page-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}
/* #endregion */
/* #region Team */
.our-team {
 background-color: #f4f4fd;
 padding-top: 120px;
 padding-bottom: 120px;
}
@media (max-width: 1157px) {
  .our-team {
    padding: 96px 0;
  }
}

.team-section {
  margin-bottom: 72px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: #2e2f42;
}
.page-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}
@media (max-width: 767px) {
  .page-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
  }
}
@media (min-width: 768px) {
  .page-team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
}
@media (min-width: 1158px) {
  .page-team {
    flex-wrap: nowrap;
    gap: 24px;
  }
}
.page-team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.container-team {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  padding: 32px 0 32px;
  gap: 8px;
}
.team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #2e2f42;
  letter-spacing: 0.02em;
}
.team-text {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 24px;
}
.team-section-svg {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-list-svg {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-icon:hover,
.team-social-icon:focus {
  background-color: #404bbf;
}
.team-class-svg {
  fill: #f4f4fd;
}
/* #endregion */
/* #region Portfolio */
.our-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (max-width: 1157px) {
  .our-portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
.section-portfolio {
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: #2e2f42;
  margin-bottom: 72px;
}
.page-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
@media (min-width: 768px) {
  .page-portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media (min-width: 1158px) {
  .page-portfolio {
    column-gap: 24px;
    row-gap: 48px;
  }
}
.page-portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
@media (min-width: 768px) {
  .page-portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media (min-width: 1158px) {
  .page-portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}
.page-portfolio-item:hover .portfolio-text-photo {
  transform: translateY(0%);
}
.page-portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.container-page-portfolio {
  position: relative;
  overflow: hidden;
}
.page-portfolio-img {
  max-width: 100%;
}
.portfolio-text-photo {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-partfolio {
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}
.portfolio-name {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #2e2f42;
  letter-spacing: 0.02em;
}
.portfolio-text {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 24px;
}
/* #endregion */
/* #region Footer*/
.page-footer {
 background-color: #2e2f42;
}
@media (max-width: 1157px) {
  .page-footer {
    padding: 96px 0;
  }
}
@media (min-width: 768px) {
  .page-footer {
    padding: 96px 0;
  }
}
@media (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }
}
.page-footer .container {
  text-align: center;
}
@media (min-width: 768px)  and (max-width: 1157px) {
  .page-footer .container {
    width: 552px;
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}
@media (min-width: 1158px) {
  .page-footer .container {
    display: flex;
    text-align: start;
    align-items: baseline;
  }
}
.container-footer-logo {
  width: 264px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container-footer-logo {
    margin: 0 24px 0 0;
  }
}

@media (min-width: 1158px) {
  .container-footer-logo {
    margin-right: 120px;
  }
}
.web-footer {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.studio-footer {
color: #f4f4fd;
}
.page-footer-text {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  width: 264px;
  margin-left: auto;
  margin-right: auto;
}
.container-footer-svg {
  margin-top: 72px
}
@media (min-width: 768px) {
  .container-footer-svg {
    margin-top: 0;
  }
}
.footer-name-svg {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 1);
}
@media (min-width: 768px) {
  .footer-name-svg {
    margin-top: 0;
  }
}

.footer-section-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.footer-list-svg {
  width: 40px;
  height: 40px;
}
.footer-svg {
  fill: #f4f4fd;
}
.footer-social-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon:hover,
:focus {
  background-color: #31d0aa;
}
@media (max-width: 767px) {
  .container-footer-email {
    margin-top: 72px;
  }
}

@media (min-width: 768px) {
  .container-footer-email {
    margin-top: 72px;
  }
}

@media (min-width: 1158px) {
  .container-footer-email {
    margin-top: 0;
    margin-left: 80px;
  }
}
.footer-email-name {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.form-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .form-footer {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}
.footer-input {
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: transparent;
  width: 100%;
  flex-shrink: 0;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
}
@media (min-width: 768px) {
  .footer-input {
    width: 264px;
  }
}
.input::placeholder {
  color #ffffff;
}
.footer-form-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4D5AE5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  min-width: 165px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}

.footer-btn-svg {
  fill: rgba(255, 255, 255, 1);
  margin-left: 16px;
}
/* #endregion */
/* #region Open */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 100;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: visibility, pacity, pointer-events;
}
.backdrop.is-open {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 320px) {
  .modal {
    overflow-y: scroll;
  }
}
@media (max-width: 767px) {
  .modal {
    max-width: 288px;
    padding: 72px 16px 24px 16px;
  }
}
.btn-close-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close-modal:hover,
.btn-close-modal:focus {
  background-color: #404bbf;
  border: none;
 fill: #ffffff;
}
.footer-btn-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn-close:hover,
.footer-btn-close:focus {
  fill: #ffffff;
}
.modal-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 16px;
}
.accent-color {
  color: #fd9222;
}
.modal-wrapper {
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
  flex-direction: column;
}

.modal-field {
  position: relative;
}

.modal-field-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #4D5AE5;
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.modal-field-input:focus {
  border-color: #4D5AE5;
}
.modal-field-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill:#2e2f42;
}
.modal-field-input:focus + .modal-field-svg {
  fill:#4D5AE5;
}
.modal-textarea-wrapper {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4); 
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: #4D5AE5;
}
.modal-wrapper-checkbox {
  margin-bottom: 24px;
}
.modal-privacy-user {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-privacy-text {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.user-privacy:checked + .modal-privacy-user .modal-privacy-text {
  background-color:#404bbf;
  border: none;
  fill: #F4F4FD;
}
.checkbox-policy-link {
  color: #4d5ae5;
}
.modal-form-btn {
  font-family: "Roboto", sans-serif;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* #endregion */
